<div>
  <h2 id="page-heading" data-cy="SumaIncasataHeading">
    <span>Suma Incasatas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-suma-incasata"
        [routerLink]="['/suma-incasata/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Suma Incasata </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sumaIncasatas?.length === 0">
    <span>No Suma Incasatas found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sumaIncasatas && sumaIncasatas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sumaIncasata">
            <div class="d-flex">
              <span>Suma Incasata</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataIncasarii">
            <div class="d-flex">
              <span>Data Incasarii</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="srl5.id">
            <div class="d-flex">
              <span>Srl 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sumaIncasata of sumaIncasatas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/suma-incasata', sumaIncasata.id, 'view']">{{ sumaIncasata.id }}</a>
          </td>
          <td>{{ sumaIncasata.sumaIncasata }}</td>
          <td>{{ sumaIncasata.dataIncasarii | formatMediumDate }}</td>
          <td>
            <div *ngIf="sumaIncasata.srl5">
              <a [routerLink]="['/srl', sumaIncasata.srl5.id, 'view']">{{ sumaIncasata.srl5.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/suma-incasata', sumaIncasata.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/suma-incasata', sumaIncasata.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(sumaIncasata)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
