<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-adresa-heading" data-cy="AdresaCreateUpdateHeading">Create or edit a Adresa</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_strada">Strada</label>
          <input type="text" class="form-control" name="strada" id="field_strada" data-cy="strada" formControlName="strada" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numarul">Numarul</label>
          <input type="text" class="form-control" name="numarul" id="field_numarul" data-cy="numarul" formControlName="numarul" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_localitatea">Localitatea</label>
          <input
            type="text"
            class="form-control"
            name="localitatea"
            id="field_localitatea"
            data-cy="localitatea"
            formControlName="localitatea"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_judetul">Judetul</label>
          <input type="text" class="form-control" name="judetul" id="field_judetul" data-cy="judetul" formControlName="judetul" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bloc">Bloc</label>
          <input type="text" class="form-control" name="bloc" id="field_bloc" data-cy="bloc" formControlName="bloc" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_scara">Scara</label>
          <input type="text" class="form-control" name="scara" id="field_scara" data-cy="scara" formControlName="scara" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_etaj">Etaj</label>
          <input type="text" class="form-control" name="etaj" id="field_etaj" data-cy="etaj" formControlName="etaj" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_apartament">Apartament</label>
          <input
            type="text"
            class="form-control"
            name="apartament"
            id="field_apartament"
            data-cy="apartament"
            formControlName="apartament"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_alteDetalii">Alte Detalii</label>
          <input
            type="text"
            class="form-control"
            name="alteDetalii"
            id="field_alteDetalii"
            data-cy="alteDetalii"
            formControlName="alteDetalii"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_asociatieLocatari">Asociatie Locatari</label>
          <input
            type="checkbox"
            class="form-check"
            name="asociatieLocatari"
            id="field_asociatieLocatari"
            data-cy="asociatieLocatari"
            formControlName="asociatieLocatari"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sediu1">Sediu 1</label>
          <select
            class="form-control"
            id="field_sediu1"
            data-cy="sediu1"
            name="sediu1"
            formControlName="sediu1"
            [compareWith]="compareSediul"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="sediulOption" *ngFor="let sediulOption of sediulsSharedCollection">{{ sediulOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
