<div>
  <h2 id="page-heading" data-cy="SediulHeading">
    <span>Sediuls</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sediul"
        [routerLink]="['/sediul/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Sediul </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sediuls?.length === 0">
    <span>No Sediuls found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sediuls && sediuls.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sediusocialPunctLucru">
            <div class="d-flex">
              <span>Sediusocial Punct Lucru</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actprinc1.id">
            <div class="d-flex">
              <span>Actprinc 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actprinc2.id">
            <div class="d-flex">
              <span>Actprinc 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="srl4.id">
            <div class="d-flex">
              <span>Srl 4</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sediul of sediuls; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sediul', sediul.id, 'view']">{{ sediul.id }}</a>
          </td>
          <td>{{ sediul.sediusocialPunctLucru }}</td>
          <td>
            <span *ngFor="let actprinc1 of sediul.actprinc1s; let last = last">
              <a class="form-control-static" [routerLink]="['/activitati-principale', actprinc1.id, 'view']">{{ actprinc1.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <span *ngFor="let actprinc2 of sediul.actprinc2s; let last = last">
              <a class="form-control-static" [routerLink]="['/activitati-secundare', actprinc2.id, 'view']">{{ actprinc2.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="sediul.srl4">
              <a [routerLink]="['/srl', sediul.srl4.id, 'view']">{{ sediul.srl4.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/sediul', sediul.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/sediul', sediul.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(sediul)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
