<div>
  <h2 id="page-heading" data-cy="DovadaHeading">
    <span>Dovadas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dovada"
        [routerLink]="['/dovada/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Dovada </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dovadas?.length === 0">
    <span>No Dovadas found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dovadas && dovadas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="comodatInchiriere">
            <div class="d-flex">
              <span>Comodat Inchiriere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="durata">
            <div class="d-flex">
              <span>Durata</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valoareInchiriere">
            <div class="d-flex">
              <span>Valoare Inchiriere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="valoareGarantie">
            <div class="d-flex">
              <span>Valoare Garantie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="moneda">
            <div class="d-flex">
              <span>Moneda</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sediu2.id">
            <div class="d-flex">
              <span>Sediu 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dovada of dovadas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/dovada', dovada.id, 'view']">{{ dovada.id }}</a>
          </td>
          <td>{{ dovada.comodatInchiriere }}</td>
          <td>{{ dovada.durata }}</td>
          <td>{{ dovada.valoareInchiriere }}</td>
          <td>{{ dovada.valoareGarantie }}</td>
          <td>{{ dovada.moneda }}</td>
          <td>
            <div *ngIf="dovada.sediu2">
              <a [routerLink]="['/sediul', dovada.sediu2.id, 'view']">{{ dovada.sediu2.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/dovada', dovada.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/dovada', dovada.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(dovada)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
