<div>
  <h2 id="page-heading" data-cy="AsocAdminHeading">
    <span>Asoc Admins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-asoc-admin"
        [routerLink]="['/asoc-admin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Asoc Admin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="asocAdmins?.length === 0">
    <span>No Asoc Admins found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="asocAdmins && asocAdmins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="persoanaFizica">
            <div class="d-flex">
              <span>Persoana Fizica</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="asociat">
            <div class="d-flex">
              <span>Asociat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="srl.id">
            <div class="d-flex">
              <span>Srl</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asocAdmin of asocAdmins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/asoc-admin', asocAdmin.id, 'view']">{{ asocAdmin.id }}</a>
          </td>
          <td>{{ asocAdmin.persoanaFizica }}</td>
          <td>{{ asocAdmin.asociat }}</td>
          <td>
            <div *ngIf="asocAdmin.srl">
              <a [routerLink]="['/srl', asocAdmin.srl.id, 'view']">{{ asocAdmin.srl.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/asoc-admin', asocAdmin.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/asoc-admin', asocAdmin.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(asocAdmin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
