<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-srl-heading" data-cy="SrlCreateUpdateHeading">Create or edit a Srl</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nume1">Nume 1</label>
          <input type="text" class="form-control" name="nume1" id="field_nume1" data-cy="nume1" formControlName="nume1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nume2">Nume 2</label>
          <input type="text" class="form-control" name="nume2" id="field_nume2" data-cy="nume2" formControlName="nume2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nume3">Nume 3</label>
          <input type="text" class="form-control" name="nume3" id="field_nume3" data-cy="nume3" formControlName="nume3" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_numeSocietate">Nume Societate</label>
          <input
            type="text"
            class="form-control"
            name="numeSocietate"
            id="field_numeSocietate"
            data-cy="numeSocietate"
            formControlName="numeSocietate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_nuneFinal">Nune Final</label>
          <input type="checkbox" class="form-check" name="nuneFinal" id="field_nuneFinal" data-cy="nuneFinal" formControlName="nuneFinal" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dataInregistrare">Data Inregistrare</label>
          <div class="d-flex">
            <input
              id="field_dataInregistrare"
              data-cy="dataInregistrare"
              type="datetime-local"
              class="form-control"
              name="dataInregistrare"
              formControlName="dataInregistrare"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_telefon">Telefon</label>
          <input type="text" class="form-control" name="telefon" id="field_telefon" data-cy="telefon" formControlName="telefon" />
          <div *ngIf="editForm.get('telefon')!.invalid && (editForm.get('telefon')!.dirty || editForm.get('telefon')!.touched)"></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.maxlength">
              This field cannot be longer than 254 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_srlFinalizat">Srl Finalizat</label>
          <input
            type="checkbox"
            class="form-check"
            name="srlFinalizat"
            id="field_srlFinalizat"
            data-cy="srlFinalizat"
            formControlName="srlFinalizat"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_logatCu">Logat Cu</label>
          <input type="text" class="form-control" name="logatCu" id="field_logatCu" data-cy="logatCu" formControlName="logatCu" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
