<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="capitalSocial">
      <h2 data-cy="capitalSocialDetailsHeading"><span>Capital Social</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ capitalSocial.id }}</span>
        </dd>
        <dt><span>Suma</span></dt>
        <dd>
          <span>{{ capitalSocial.suma }}</span>
        </dd>
        <dt><span>Srl 1</span></dt>
        <dd>
          <div *ngIf="capitalSocial.srl1">
            <a [routerLink]="['/srl', capitalSocial.srl1.id, 'view']">{{ capitalSocial.srl1.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/capital-social', capitalSocial.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
