<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="activitatiPrincipale">
      <h2 data-cy="activitatiPrincipaleDetailsHeading"><span>Activitati Principale</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ activitatiPrincipale.id }}</span>
        </dd>
        <dt><span>Cod CAEN</span></dt>
        <dd>
          <span>{{ activitatiPrincipale.codCAEN }}</span>
        </dd>
        <dt><span>Denumirea</span></dt>
        <dd>
          <span>{{ activitatiPrincipale.denumirea }}</span>
        </dd>
        <dt><span>Srl 3</span></dt>
        <dd>
          <div *ngIf="activitatiPrincipale.srl3">
            <a [routerLink]="['/srl', activitatiPrincipale.srl3.id, 'view']">{{ activitatiPrincipale.srl3.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/activitati-principale', activitatiPrincipale.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
