<div>
  <h2 id="page-heading" data-cy="DateSocietateHeading">
    <span>Date Societates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-date-societate"
        [routerLink]="['/date-societate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Date Societate </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="dateSocietates?.length === 0">
    <span>No Date Societates found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="dateSocietates && dateSocietates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="denumire">
            <div class="d-flex">
              <span>Denumire</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cui">
            <div class="d-flex">
              <span>Cui</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="regComert">
            <div class="d-flex">
              <span>Reg Comert</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresaSediu">
            <div class="d-flex">
              <span>Adresa Sediu</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="asocadmin2.id">
            <div class="d-flex">
              <span>Asocadmin 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dateSocietate of dateSocietates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/date-societate', dateSocietate.id, 'view']">{{ dateSocietate.id }}</a>
          </td>
          <td>{{ dateSocietate.denumire }}</td>
          <td>{{ dateSocietate.cui }}</td>
          <td>{{ dateSocietate.regComert }}</td>
          <td>{{ dateSocietate.adresaSediu }}</td>
          <td>
            <div *ngIf="dateSocietate.asocadmin2">
              <a [routerLink]="['/asoc-admin', dateSocietate.asocadmin2.id, 'view']">{{ dateSocietate.asocadmin2.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/date-societate', dateSocietate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/date-societate', dateSocietate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(dateSocietate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
