<div>
  <h2 id="page-heading" data-cy="ActivitatiSecundareHeading">
    <span>Activitati Secundares</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-activitati-secundare"
        [routerLink]="['/activitati-secundare/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Activitati Secundare </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="activitatiSecundares?.length === 0">
    <span>No Activitati Secundares found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="activitatiSecundares && activitatiSecundares.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codCAEN">
            <div class="d-flex">
              <span>Cod CAEN</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="denumirea">
            <div class="d-flex">
              <span>Denumirea</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="srl5.id">
            <div class="d-flex">
              <span>Srl 5</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activitatiSecundare of activitatiSecundares; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/activitati-secundare', activitatiSecundare.id, 'view']">{{ activitatiSecundare.id }}</a>
          </td>
          <td>{{ activitatiSecundare.codCAEN }}</td>
          <td>{{ activitatiSecundare.denumirea }}</td>
          <td>
            <div *ngIf="activitatiSecundare.srl5">
              <a [routerLink]="['/srl', activitatiSecundare.srl5.id, 'view']">{{ activitatiSecundare.srl5.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/activitati-secundare', activitatiSecundare.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/activitati-secundare', activitatiSecundare.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(activitatiSecundare)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
